.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  width: 200px;
  margin-bottom: 2rem;
}


